@import "../../app/ui/lib/variables.less";
@import "../../app/ui/lib/sg.less";

#sg {
    width: 100%;
    border: none;
    overflow: hidden;
    height: 150px;
    resize: vertical;
}

#sg-container {
    margin: 10px 0;
}

