#sg {
    width: 100%;
    border: none;
    overflow: hidden;
    height: 0;
    opacity: 0;

    margin: 15px 0 0;

    -webkit-transition: opacity 0.2s, height 0.2s ease-in-out;
}

#sg-container {
}

